/* Color Palette
	Midnight Green Eagle Green: #0D5C63
	Dark Purple: #1F0318
	Rosso Corsa: #D00000
	Dark Sea Green: #8BBD8B
	Lemon Glacier: #FFFC08
*/


body {
	display: flex;
	flex-direction: column;
	margin: 0;
}

#header, #footer {
	background-color: #8BBD8B;
}

#header {
	display: flex;
	justify-content: space-between;
	padding-right: 100px;
	padding-left: 115px;
	color: #1F0318;
}

#header img {
	padding-top: 15px;
	padding-left: 50px;
}

#header ul {
	list-style-type: none;
	margin: 0; 
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

#header ul li a { 
	text-decoration: none;
	font-size: 22px;
}

#greetingContainer {
	background-color: #8BBD8B;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 120px;
	padding-top: 100px;
	padding-left: 165px;
	padding-bottom: 200px;
	padding-right: 100px;
}

#greetingContent {
	display: flex;
	flex-direction: column;
	width: 400px;
}

#mainText {
	font-size: 48px;
	font-weight: 800;
	color: #1F0318;
}

.secondaryText, .navBarLink {
	font-size: 18px;
	color: #0D5C63;
}

.secondaryText {
	margin-top: -20px;
}

.infoText { 
	font-size: 18px;
	color: #4B5563;
	text-align: center;
}

#infoBoxContainer {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 50px;
}

#infoBoxContainer div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 150px;
}

.infoBox {
	border: 4px solid #8BBD8B;
	border-radius: 13px;
	width: 150px;
	height: 150px;
}

#infoHeader {
	font-size: 36px;
	font-weight: 800;
	color: #1F0318;
}

#infoContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 110px;
}

#greetButton {
	border: none;
}

button {
	background-color: #FFFC08;
	border: 2px solid #1F0318;
	width: 130px;
	height: 35px;
	padding: 8px;
	font-weight: bold;
	border-radius: 10px;
	font-size: 20px;
	color: #D00000;
	line-height: 0px;
}

#quoteContainer {
	background-color: #FFFC08;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px;
}

#quoteContainer div {
	width: 800px;
}

#quoteText {
	font-size: 36px;
	font-style: italic;
	color: #D00000;
}

#quotePerson {
	font-size: 24px;
	text-align: right;
	font-weight: bold;
	color: #D00000;
}

#signupContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 80px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 80px;
}

#signupSubContainer {
	background-color: #0D5C63;
	color: #FFFFFF;
	height: 100px;
	width: 1000px;
	display: flex;
	justify-content: space-around;
	padding: 20px;
	border-radius: 10px;
}

#signupButtonContainer {
	margin-top: 40px;
}

#signupHeader {
	font-size: 25px;
	font-weight: bold;
}

#signupMessage {
	margin-top: -20px;
	font-size: 20px;
}

#footer {
	font-size: 18px;
	color: #1F0318;
	text-align: center;
}
